.catalog-popup {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    padding: 0px 1rem;
    background-color: rgb(255, 255, 255);
    margin: -0.5rem auto 0px;
    width: 100%;
    max-width: var(--app-width);
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 24px);
    border-radius: 16px;
    &__content {
        display: flex;
        justify-content: space-between;
        max-height: calc(100vh - 200px);
    }
    &__nav {
        width: 16rem;
        padding: 1rem;
        padding-left: 0;
        flex: none;
        border-right: 1px solid var(--c-general-background-3);
        &_wrapper {
            
        }
        &-elem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 6px;
            transition: 0.2s ease 0s;
            padding: 0.75rem 0.5rem;
            &.active {
                background: var(--color-primary);
                fill: var(--color-primary-text);
                color: var(--color-primary-text);
            }
        }
    }
}