<div class="catalog">
    <div class="wrapper">
        <h2 class="catalog__title title title_solo">Каталог</h2>
        <div class="catalog__content grid">

            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>
            <div class="catalog__card card-cat">
                <img src="img/catalog/kubki/1.jpg" alt="" class="card-cat__img">
                <h3 class="card-cat__title">Кубки</h3>
                <a href="" class="card-cat__link"></a>
            </div>

        </div>
    </div>
</div>